 /* header */

 .container{
    width: 1029px;
    margin: 0 auto;
 }

header {
}

.contact{
    width: 64px;
    height: 19px;
    font-size: 14px;
    margin-left: 35px;
}

.contact:hover{
    border: 1.5px solid blue;
}

.contactText{
    width: 331px;
    height: 112px;
    font-size: 42px;
    margin-left: 35px;

}
.contactText1{
    width: 476px;
    height: 112px;
    font-size: 42px;
    margin-left: 35px;

}

.contactText:hover{
    border: 1.5px solid blue;
}
.bannerConteiner{
    display: flex;
    margin-top: 54px;
    
}
.baner{
    
    font-size:13px;
    width: 720px;
    height: 288px;
    background-color: #E8E8E8;
    margin-left: 35px;

}

.form{

    margin-left:22px;
    width: 300px;
}
.formitem{
    
    width: 100%;
    height: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.formButon{
    width: 100%;
    background-color:#5863F8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contactsection{
    width: 1029px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 241px;
    margin-left: 35px;
    margin-top: 20px;
}
.contactItems{
    width: 180px;
    margin-left: 100px;
   text-align: center;
        
}


.email{
    color: gray;
    font-size: 14px;

}


.photos{
    width: 1029px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 241px;
    margin-left: 35px;
    margin-top: 20px;
}

.photosItems{
    margin-left: 40px;
    margin-top:35px;
}



.container-info{
    display: flex;
    padding-left: 40px;
    padding-top: 120px;
    font-size: 27px;
    
}

.container-info:hover{
    border: 0.5px solid blue;
}

.container-info1{
    display: flex;
    padding-left:40px;
    width: 260px;
    height:83px;
}

.container-info1:hover{
    border: 0.5px solid blue;
}


.nav{
    display: flex;
    padding-left: 280px;
    padding-top: 5px;

}

.nav:hover{
    border: 0.5px solid blue;

}

.nav-li{
    font-size: 24px;
}

.li{
    width: 28px;
    height: 19px;
    color: #141858;

}

.ul{ 

    padding-left:50px ;

}

.lili{
    font-size: 24px;
    
}








 

