 /* header */

 .container{
    width: 1029px;
    margin: 0 auto;
 }

header {
}

.contact{
    
    font-size: 14px;
    margin-left: 35px;
}

.contact:hover{
    border: 1.5px solid blue;
}

.contactText{
    width: 331px;
    height: 112px;
    font-size: 42px;
    margin-left: 35px;

}
.contactText1{
    width: 476px;
    height: 112px;
    font-size: 42px;
    margin-left: 35px;

}

.contactText:hover{
    border: 1.5px solid blue;
}
.bannerConteiner{
    display: flex;
    margin-top: 54px;
    
}
.baner{
    
    font-size:13px;
    width: 720px;
    height: 288px;
    background-color: #E8E8E8;
    margin-left: 35px;

}

.form{

    margin-left:22px;
    width: 300px;
}
.formitem{
    
    width: 100%;
    height: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.formButon{
    width: 100%;
    background-color:#5863F8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contactsection{
    width: 1029px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 241px;
    margin-left: 35px;
    margin-top: 20px;
}
.contactItems{
    width: 180px;
    margin-left: 100px;
   text-align: center;
        
}


.email{
    color: gray;
    font-size: 14px;

}


.photos{
    /* width: 1029px; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* margin-left: 35px; */
    margin-top: 20px;
}

.photosItems1{
    
    margin-top:35px;
}
.photosItems{
    margin-left: 40px;
    margin-top:35px;
}
.photoimg{
    width: 275px;
}



.container-info{
    display: flex;
    padding-left: 40px;
    padding-top: 40px;
    font-size: 27px;
    
}

.container-info:hover{
    border: 0.5px solid blue;
}

.container-info1{
    display: flex;
    padding-left:40px;
   
    
}

.container-info1:hover{
    border: 0.5px solid blue;
}

.container-about{
    display: flex;
    background-color: black;
    color: white;
    
}
.box1{
    width: 250px;
}
.nav{
    display: flex;
    margin-left: 260px;
    padding-top: 30px;
    justify-content: space-around;

}

.nav:hover{
    border: 0.5px solid blue;

}

.nav-li{
    font-size: 24px;
}

.li{

    
    color: #141858;
    

}

.ul{ 

    padding-left:50px ;

}

.lili{
    font-size: 24px;

}



.lili1{
    font-size: 27px;
    padding-left: 100px;
}










 

